*{
    margin: 0;
    padding: 0;
}

body{
    background: url("imagens/fundo-madeira.jpg") center no-repeat fixed;
    background-size: cover;
    height: 100dvh;
    position: relative;
}

.centro{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -56%);
}

.celular{
    background-image: url("imagens/frame-iphone.png");
    height: 627px;
    width: 311px;
    margin: auto;
    margin-top: 25px;
    position: relative;
    display: inline-block;
}

div.celular > iframe{
    height: 475px;
    width: 270px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -56%);
}
iframe{
    overflow: hidden;
    scrollbar-color: rgb(255, 0, 0);
    display: inline-block;
}

nav{
    display: inline-block;
    margin-top: 50px;
    margin-left: 86%;
}
nav img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.412);
}
nav li{
    margin-bottom: 30px;
    position: static;
    border-radius: 50%;
}
ul{
    list-style: none;
    border-radius: 50%;
}
nav img:hover{
    box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.412);
    transform: translate(-4px, -4px);
    border: 1px solid white;
    transition: transform .5s, box-shadow .5s, border .3s;
}